
/*
http://www.colourlovers.com/palette/148712/Gamebookers
Orange: #FF9900
Darker orange: #CC7A00
Dark Gray: #424242
Light: #E9E9E9
Medium: #BCBCBC
Blue: #3299BB
Lighter Blue: #44D1FF
Lightest Blue: #AEEBFF

Text Color: #222222
Link Color: #CC7A00
*/
body {
  background-color: #AEEBFF;
}
h1 {
  font-size: 200%;
  /*font-weight: bold;*/
}
.container {
}
.base-header {
  background-color: #3299BB;
  border-left: 1px #BCBCBC solid;
  border-right: 1px #BCBCBC solid;
  border-bottom:  1px #FF9900 solid;
}
.base-content {
  background-color: white;
  min-height: 300px;
  border: 1px #BCBCBC solid;
}
a, a:link, a:visited {
  color: #CC7A00;
  text-decoration: none;
}
a:hover {
  color: #FF9900;
  text-decoration: underline;
}
ul.nav, .two-line, .submission-list, .comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
 Used by jQuery UI
 Keep these near the top of the file so they can be overridden by later classes
*/
.ui-helper-hidden, .hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000000 50% 50% repeat-x; opacity: .80;filter:Alpha(Opacity=80); }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-widget {
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
}
.ui-widget-content {
  background-color: white;
  border: 1px #BCBCBC solid;
}
/*
 generic cool UI classes
 at some point we can converge just using the jQuery UI name
*/
.round-top-corners, .ui-corner-top {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.round-bottom-corners, .ui-corner-bottom {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.round-left-corners, .ui-corner-left {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.round-right-corners, .ui-corner-right {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-topright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.round-corners, .ui-corner-all {
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.dropshadow {
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
}

/* generic properties for string types */
.from { font-weight: bold; }
.time, .list-time { color: #424242; }
.list-time { font-size: 75%; }
.phrase { text-transform: lowercase; quotes: \&#8220\; \&#8221\; \&#8216\; \&#8217\;; }
.phrase:before { content: open-quote; }
.phrase:after { content: close-quote; }
.clickable { cursor: pointer; }
.center-text { text-align: center; }
.hint { font-size: 80%; }
.hint-color { color: #BCBCBC; }

/* all buttons and inputs should have round corners */
a.button, button, input[type=text], input[type=password], input[type=file], input[type=submit], textarea {
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=text], input[type=password], input[type=file], textarea {
  padding: 0.25em;
}


ul.nav {
  text-align: center;
}
.base-footer .nav {
  color: #CC7A00;
  font-size: 75%;
}
.base-header .nav-container {
  position: relative;
  margin-top: 4px;
}
.nav li {
  display: inline-block;
  padding: 0 5px;
}
.navtoolbar {
  background-color: #ffffff;
  border: 1px #FF9900 solid;
  font-size: 90%;
}
.navtoolbar li {
  margin: 2px;
  border-
}

/* generic properties for thumbnails */
.thumb, .thumb-icon, .comment-thumb-icon, .submission-thumb-icon {
  padding: 2px;
  -moz-box-shadow: 0px 2px 2px #666;
  -webkit-box-shadow: 0px 2px 2px #666;
  box-shadow: 0px 2px 2px #666;
  background-color: #BCBCBC;
}

.thumb-icon {
  height: 60px;
  width: 60px;
}
.thumb-icon-left {
  float: left;
  margin-right: 10px;
}

/* Generic two-line-plus icon */
.two-line {
}
.two-line-item {
  background-color: #F5F5F5;
  padding: 5px;
  height: 70px;
  border: 1px #F0F0F0 solid;
}
li.two-line-item {
  margin: 1em auto;
}
.two-line-item.clickable:hover {
  border: 1px #FF9900 solid;
}
.two-line-item .line1 {
  margin-bottom: 0.1em;
}
.two-line-item .line2 {
  margin-bottom: 0;
  color: #424242;
}

/* page title customizations */
.page-title {
  margin-top: -10px;
  margin-left: 10px;
  border:  1px #FF9900 solid;
  vertical-align: middle;
}
.page-title .two-line-item {
  background-color: white;
}
.page-title h1 {
  padding: 0;
  margin: 0;
}
.page-content {
  margin: 1em;
}

/* Hunt list -- the phrase link should not have an underline */
.hunt-list .phrase a:hover {
  text-decoration: none;
}
.hunt-list li.hover a {
  color: #FF9900;
}

/* Comment list */
.comment-list {
}
.comment-item {
  padding: 5px;
  margin: 5px auto;
}
.comment-thumb-icon {
  max-height: 30px;
  max-width: 30px;
}
.comment-time {
}

/* Submission list */
.submission-list {
}
.submission-item {
  margin: 10px auto;
  text-align: center;
}
.submission-thumb-icon {
  max-width: 200px;
  max-height: 150px;
}

.counter {
   font-size: 700%;
   line-height: 1.0;
}

/* Hunt state objects initially begin invisible */
.hunt-state-obj {
   display: none;
}

/* Voting button */
.vote-button {
  font-size: 150%;
  width: 100%;
  height: 5em;
}
