
/*
http://www.colourlovers.com/palette/148712/Gamebookers
Orange: #FF9900
Darker orange: #CC7A00
Dark Gray: #424242
Light: #E9E9E9
Medium: #BCBCBC
Blue: #3299BB
Lighter Blue: #44D1FF
Lightest Blue: #AEEBFF

Text Color: #222222
Link Color: #CC7A00
*/
body {
  background-color: #E9E9E9;
}
h1 {
  font-size: 200%;
  /*font-weight: bold;*/
}
.container {
}
.base-header {
  background-color: #3299BB;
  border-left: 1px #BCBCBC solid;
  border-right: 1px #BCBCBC solid;
  border-bottom:  2px #FF9900 solid;
}
.base-content {
  background-color: white;
  min-height: 300px;
  border: 1px #BCBCBC solid;
}
a, a:link, a:visited {
  color: #CC7A00;
  text-decoration: none;
}
a:hover {
  color: #FF9900;
  text-decoration: underline;
}
ul.nav {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.base-footer .nav {
  color: #CC7A00;
  font-size: 75%;
}
.base-header .nav-container {
  position: relative;
  margin-top: 4px;
}
.nav li {
  display: inline-block;
  padding: 0 5px;
}
.navtoolbar {
  background-color: #ffffff;
  border: 1px #FF9900 solid;
  font-size: 90%;
}
.navtoolbar li {
  margin: 2px;
  border-
}
.page-title {
  margin-top: -10px;
  margin-left: 10px;
  background-color: #AEEBFF;
  border:  2px #FF9900 solid;
  vertical-align: middle;
}
.page-title h1 {
  padding: 0;
  margin: 0;
}
.page-content {
  margin: 1em;
}

.thumb-icon {
  height: 60px;
  width: 60px;
  padding: 2px;
  -moz-box-shadow: 0px 2px 2px #666;
  -webkit-box-shadow: 0px 2px 2px #666;
  box-shadow: 0px 2px 2px #666;
  background-color: #BCBCBC;
}
.thumb-icon-left {
  float: left;
  margin-right: 10px;
}
.phrase {
  text-transform: lowercase;
  quotes: \&#8220\; \&#8221\; \&#8216\; \&#8217\;;
}
.phrase:before {
  content: open-quote;
}
.phrase:after {
  content: close-quote;
}
.clickable {
  cursor: pointer;
}

.two-line {
  list-style: none;
  margin: 0;
  padding: 0;
}
.two-line-item {
  background-color: #AEEBFF;
  padding: 5px;
  height: 70px;
  border: 1px #F0F0F0 solid;
}
li.two-line-item {
  margin: 1em auto;
}
.two-line-item.clickable:hover {
  border: 1px #FF9900 solid;
}
.two-line-item .line1 {
  margin-bottom: 0.1em;
}
.two-line-item .line2 {
  margin-bottom: 0;
  color: #424242;
}

.vote-button {
  font-size: 150%;
  width: 100%;
  height: 3em;
}
.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-item {
  background-color: #F5F5F5;
  padding: 5px;
  margin: 5px auto;
}
.comment-thumb-icon {
  height: 30px;
  width: 30px;
  padding: 2px;
  -moz-box-shadow: 0px 2px 2px #666;
  -webkit-box-shadow: 0px 2px 2px #666;
  box-shadow: 0px 2px 2px #666;
  background-color: #BCBCBC;
}
.comment-from {
  font-weight: bold;
}
.comment-time {
  font-size: 75%;
  color: #424242;
}

/* all buttons and inputs should have round corners */
a.button, button, input[type=text], input[type=password], input[type=file], input[type=submit], textarea {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
input[type=text], input[type=password], input[type=file], textarea {
  padding: 0.25em;
}

/* generic cool UI classes */
.round-top-corners {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.round-bottom-corners {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.round-left-corners {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.round-right-corners {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-topright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.round-corners {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropshadow {
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
}

/* header stuff */
