
/*
http://www.colourlovers.com/palette/148712/Gamebookers
Orange: #FF9900
Darker orange: #CC7A00
Dark Gray: #424242
Light: #E9E9E9
Medium: #BCBCBC
Blue: #3299BB
Lighter Blue: #44D1FF
Lightest Blue: #AEEBFF

Text Color: #222222
Link Color: #CC7A00
*/
body {
  background: url(img/bg.png) #AEEBFF repeat-x;
}
.base-header {
  position: relative;
  min-height: 50px;
  font-size: 14px;
}
/* image dimensions */
img.header-logo {
  width: 240px;
  height: 35px;
}
img.indicator {
  width: 16px;
  height: 16px;
}
.base-content {
  background-color: white;
  border: 1px #BCBCBC solid;
  padding-bottom: 1em;
}
a, a:link, a:visited, .link {
  color: #CC7A00;
  text-decoration: none;
}
a:hover, .link:hover {
  color: #FF9900;
  text-decoration: underline;
}
.link {
  cursor: pointer;
}
ul.nav,
.two-line,
.submission-list,
.comment-list,
.user-activity-list,
.award-list,
.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.errorlist li {
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
  margin: 0 5px;
  padding: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*
 Used by jQuery UI
 Keep these near the top of the file so they can be overridden by later classes
*/
.ui-helper-hidden, .hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000000 50% 50% repeat-x; opacity: .80;filter:Alpha(Opacity=80); }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-widget {
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
}
.ui-widget-content {
  background-color: white;
  border: 1px #BCBCBC solid;
}
/*
 generic cool UI classes
*/
.ui-corner-top {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ui-corner-bottom {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui-corner-left {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ui-corner-right {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-topright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui-corner-all {
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.dropshadow {
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
}

/* generic properties for string types */
.from { font-weight: bold; }
.time, .list-time { color: #424242; }
.list-time { font-size: 10px; }
.phrase { text-transform: lowercase; quotes: \&#8220\; \&#8221\; \&#8216\; \&#8217\;; }
.phrase:before { content: open-quote; }
.phrase:after { content: close-quote; }
.clickable { cursor: pointer; }
.center-text { text-align: center; }
.hint { font-size: 80%; }
.hint-color { color: #BCBCBC; }
hr.colend { display: none; }

/* buttons.css */
a.button, button {
  display:block;
  float:left;
  margin: 0.7em 0.5em 0.7em 0;
  padding:5px 10px 5px 7px;   /* Links */

  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;

  background-color:#f5f5f5;
  font-family:"Helvetica Neue", Arial, Helvetica;
  font-size:100%;
  line-height:130%;
  text-decoration:none;
  /*font-weight:bold;*/
  color:#565656;
  cursor:pointer;
}
button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px;   /* IE6 */
}
button[type] {
  padding:4px 10px 4px 7px;   /* Firefox */
  line-height:17px;           /* Safari */
}
*:first-child+html button[type] {
  padding:4px 10px 3px 7px;   /* IE7 */
}
button img, a.button img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
  float:none;
}
input[type=submit] {
  padding:2px 10px 2px 7px;   /* Links */

  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;

  background-color:#f5f5f5;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 80%;
  line-height:130%;
  text-decoration:none;
  /*font-weight:bold;*/
  color:#565656;
  cursor:pointer;
}


/* Button colors
-------------------------------------------------------------- */

/* Standard */
button:hover, a.button:hover, input[type=submit]:hover {
  background-color:#dff4ff;
  border:1px solid #c2e1ef;
  color:#336699;
  text-decoration: none;
}
a.button:active, input[type=submit]:active {
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

/* Positive */
body .positive {
  color:#529214;
}
a.positive:hover, button.positive:hover {
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#529214;
}
a.positive:active {
  background-color:#529214;
  border:1px solid #529214;
  color:#fff;
}

/* Negative */
body .negative {
  color:#d12f19;
}
a.negative:hover, button.negative:hover {
  background-color:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}
a.negative:active {
  background-color:#d12f19;
  border:1px solid #d12f19;
  color:#fff;
}

/* all buttons and inputs should have round corners */
a.button, button, input[type=text], input[type=password], input[type=file], input[type=submit], textarea {
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=text], input[type=password], input[type=file], textarea {
  padding: 0.25em;
}

.base-footer {
  text-align: center;
  margin-top: 1.5em !important;
  color: #CC7A00;
  font-size: 70%;
}
.nav li {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
}
ul.navtoolbar {
  text-align: center;
  position: absolute;
  right: 0px;
  top: 5px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px #BCBCBC solid;
  font-size: 80%;
}
.navtoolbar img {
  position: relative;
  top: 4px;
}


/* generic properties for thumbnails */
.thumb, .thumb-icon, .comment-thumb-icon, .submission-thumb-icon {
  padding: 2px;
  -moz-box-shadow: 0px 2px 2px #666;
  -webkit-box-shadow: 0px 2px 2px #666;
  box-shadow: 0px 2px 2px #666;
  background-color: #BCBCBC;
}

.thumb-icon {
  max-height: 60px;
  max-width: 60px;
}
.thumb-icon-left {
  float: left;
  margin-right: 10px;
}

/* Generic two-line-plus icon */
.two-line {
}
.two-line-item {
  vertical-align: middle;
  background-color: #F5F5F5;
  padding: 5px;
  height: 70px;
  border: 1px #F0F0F0 solid;
}
li.two-line-item {
  margin: 1em auto;
}
.two-line-item.clickable:hover {
  border: 1px #FF9900 solid;
}
.two-line-item .line1 {
  margin-bottom: 0.1em;
}
.two-line-item .line2 {
  margin-bottom: 0;
  color: #424242;
}

/* page title customizations */
.page-title {
  padding: 5px;
  /*background-color: #AEEBFF;*/
  vertical-align: middle;
  border-bottom: #FF9900 1px solid;
}
.page-title .two-line-item {
  background-color: transparent;
  border: none;
}
.page-title h1 {
  padding: 0;
  margin: 0;
}
.page-title h2 {
  font-size: 1.3em;
}
.page-content {
  margin: 1em;
}

/* Hunt list -- the phrase link should not have an underline */
.hunt-list .phrase a:hover {
  text-decoration: none;
}
.hunt-list li.hover a {
  color: #FF9900;
}

/* Comment list */
.comment-list {
}
.comment-item {
  padding: 5px;
  margin: 5px auto;
}
.comment-thumb-icon {
  max-height: 30px;
  max-width: 30px;
}
.comment-time {
}

/* Submission list */
.submission-list {
}
.submission-item, .award-item {
  margin: 10px auto;
  text-align: center;
}
.submission-thumb-icon {
  max-width: 200px;
  max-height: 150px;
}
.award-title {
  font-size: 120%;
}
.award-badge {
  width: 60px;
  height: 60px;
}
.award-image-container {
  position: relative;
}
.award-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.counter {
   font-size: 4em;
   line-height: 1.0;
}

/* Hunt state objects initially begin invisible */
.hunt-state-obj {
   display: none;
}

/* Voting button */
.vote-button {
  width: 100%;
  text-align: center;
  height: 5em;
}
