-e svn+http://code.djangoproject.com/svn/django/trunk/
-e git+http://github.com/simplegeo/python-oauth2.git#egg=oath2
-e git+http://github.com/rackspace/python-cloudfiles.git#egg=cloudfiles
simplejson
pil
django-cumulus
