{% extends "base.html" %}
{% block extra_css %}
<style type="text/css">
ul.navtoolbar { display: none; }
</style>
{% endblock %}
{% block content %}
<div class="page-content">
  <div class="area-main-short">
    <h3>Sign into your account</h3>
    <form method="post" action="{% url account-login %}">
    <table>
       {{ form.as_table }}
       <tr>
         <td></td>
         <td>
           {% csrf_token %}
           <input type="hidden" name="next" value="{{ next }}" />
           <input type="submit" value="Sign in"/>
         </td>
       </tr>
    </table>
    <p><a href="{% url account-reset-password %}">Totally forgot your password?</a></p>
    </form>
    <hr class="colend"/>
  </div>
  <div class="area-sidebar">
    <div>
      <h3>Use your Twitter account</h3>
      <p>
        <a href="{% url account-twitter-login %}?next={{ request.REQUEST.next }}">
            <img src="{{ MEDIA_URL }}/img/buttons/Sign-in-with-Twitter-lighter.png" alt="Sign in with Twitter"/>
        </a>
      </p>
      <hr/>
    </div>
    <div>
       <h3>Haven't yet joined?</h3>
        <p>Sign up! It's free and easy.</p>
        <p><a class="positive button" href="{% url account-signup %}?next={{ request.REQUEST.next }}">Sign up now!</a></p>
    </div>
  </div>
</div>
{% endblock %}
