{% extends "base.html" %}
{% load render_form %}
{% block content %}
<div class="page-content">
  <div class="area-main">
    <h1>Change your password</h1>
    <form id="change_password" method="POST" action="{% url account-change-password %}">
    <table cellspacing="0">
      {% render_form form %}
       <tr>
         <td></td>
         <td>
           {% csrf_token %}
           <input type="submit" value="Change my password"/>
         </td>
       </tr>
    </table>
    </form>
    <p>Totally forgot your password?
    <a class="button" href="{% url account-reset-password %}">Click here to reset your password.</a></p>
    <hr class="colend"/>
  </div>
  <div class="area-sidebar-short">
    <h3>Tips</h3>
    <p><strong>Make sure you choose a strong password!</strong>
    It should be more than 6 characters, with a mix of letters and numbers,
    and it shouldn't be a dictionary word or something else common.</p>
  </div>
</div>
{% endblock %}
