{% extends "base.html" %}
{% load render_form %}
{% block extra_css %}
<style type="text/css">
ul.navtoolbar { display: none; }
</style>
{% endblock %}
{% block content %}
<div class="page-content">
  <div class="area-main">
    <h3>Enter your new password</h3>
    <form method="post" action="{% url account-reset-password-complete %}">
    <table>
       {% render_form form %}
       <tr>
         <td></td>
         <td>
           {% csrf_token %}
           <input type="submit" value="Reset password"/>
         </td>
       </tr>
    </table>
    </form>
    <hr class="colend"/>
  </div>
  <div class="area-sidebar">
  </div>
</div>
{% endblock %}
