{% extends "base.html" %}
{% block content %}
<div class="page-content">
  <div class="span-9 colborder">
    <h3>Create an account</h3>
    {% if form.errors %}
    <p>{{ form.errors }}</p>
    {% endif %}
    <form method="post" action="{% url account-signup %}">
      <table>
         {{ form.as_table }}
         <tr>
           <td></td>
           <td>
             {% csrf_token %}
             <input type="submit" value="Sign up!"/>
           </td>
         </tr>
      </table>
    </form>
  </div>
  <div class="span-5 last">
    <div>
      <h3>Use your Twitter account</h3>
      <p>You can also use your Twitter account to play.</p>
      <p>
        <a href="{% url account-twitter-login %}">
            <img src="{{ MEDIA_URL }}/img/buttons/Sign-in-with-Twitter-lighter.png" alt="Sign in with Twitter"/>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
