<h3>Leave a comment</h3>
<form class="comment-form" method="POST" action="{{ comments_url }}">
  <table>
    <tr>
      <td>You say</td>
      <td>
        {{ comment_form.text }}
        {% csrf_token %}
        <input type="submit" value="Comment"/>
        <img class="indicator hidden" href="{{ MEDIA_URL }}img/indicator.white.gif" alt="submitting..." />
      </td>
    </tr>
  </table>
</form>
<ul class="comment-list">
</ul>
<script type="text/javascript">
$(function() {
  $(".comment-list").commentList({ 'url': "{{ comments_url }}", 'form': '.comment-form' });
});
</script>
