{% for field in form.visible_fields %}
  {# Include the hidden fields in the form #}
  {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
  {% endif %}
  <tr class="{{ field.css_classes }}">
    <th>{{ field.label_tag }}</th>
    <td>{{ field }}<div class="hint">{{ field.help_text }}</div></td>
  </tr>
  {% if field.errors %}
  <tr class="{{ field.css_classes }}">
    <th></th>
    <td>{{ field.errors }}</td>
  </tr>
  {% endif %}
{% endfor %}
