{% if form_errors %}
  <tr><td colspan="2">{{ form_errors }}</td></tr>
{% endif %}
{% if form.hidden_fields %}
  <tr><td colspan="2">{{ form.hidden_fields }}</td></tr>
{% endif %}
{% for field in form.visible_fields %}
  <tr class="{{ field.css_classes }}">
    <th>{{ field.label_tag }}</th>
    <td>{{ field }}<div class="hint">{{ field.help_text }}</div></td>
  </tr>
  {% if field.errors %}
  <tr class="{{ field.css_classes }}">
    <th></th>
    <td>{{ field.errors }}</td>
  </tr>
  {% endif %}
{% endfor %}
