<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>One Hour Photo Hunt!</title>
<style type="text/css">
html {font-size:100.01%;}
body {color:#222;background:#AEEBFF;
font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;text-align:center;}
.box { background-color: white; width: 600px; margin: 1em auto; padding: 1em 0; }
</style>
</head>
<body>
<div class="box">
<h1>Whoa!</h1>
<p>
<img src="/media/img/500.jpg" alt="FAIL"/>
</p>
<p>We're sorry, something went terribly wrong. We'll try to fix it as soon as we can.</p>
</div>
</body>
</html>
