<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}One Hour Photo Hunt{% endblock %}</title>
{% block default_css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css"/>
{% endblock %}
{% block default_script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}
{% block head %}{% endblock %}
</head>
<body>
{% block body %}
<div id="wrap">
<div id="header">{% block header %}{% include "includes/default_header.html" %}{% endblock %}</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">{% block footer %}{% include "includes/default_footer.html" %}{% endblock %}</div>
</div>
{% endblock %}
</body>
</html>
