<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>One Hour Photo Hunt</title>
{% block default_css %}
{% endblock %}
{% block default_script %}
{% endblock %}
{% block head %}{% endblock %}
</head>
<body>
 <script src="http://static.ak.connect.facebook.com/connect.php/en_US" type="text/javascript"></script><script type="text/javascript">FB.init("823ed653dafcb1c79590aa7fd79d553f");</script>
<div id="header">
{% block header %}
{% include "includes/default_header.html" %}
{% endblock %}
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="footer">
{% block footer %}
{% include "includes/default_footer.html" %}
{% endblock %}
</div>
<script type="text/javascript">  FB.init("823ed653dafcb1c79590aa7fd79d553f", "/xd_receiver.htm"); </script>
</body>
</html>
