{% extends "base.html" %}
{% block content %}
<div class="page-title clearfix last">
  <div class="two-line-item">
    <img class="thumb-icon thumb-icon-left" src="{% block title-thumb-src %}{% endblock %}" alt=""/>
    <div class="clearfix">
      <h1 class="line1">{% block title-line1 %}REPLACE ME{% endblock %}</h1>
      <h2 class="line2">{% block title-line2 %}REPLACE ME{% endblock %}</h2>
    </div>
  </div>
</div>
<div class="page-content">
{% block page-content %}{% endblock %}
</div>
{% endblock %}
