{% extends "base.html" %}
{% block content %}
<!-- temporary content to give a sense of proportion -->
<p><a href="{% url hunt-index %}">Join a hunt</a><br/>
Submit your own photos<br/>
Vote for your favorites<br/>
Win big prizes (not really)</p>
<p style="height: 100px; border: 1px blue solid; float: left;">
Scrolling info of current hunts
</p>
<p style="height: 100px; border: 1px blue solid; float: right;">
Get our mobile apps
</p>
<p style="clear:both;">Some other type of content</p>
{% endblock %}
