{% extends "base.html" %}
{% block extra_css %}
<style type="text/css">
.therules {
  font-size: 24px;
  margin: 0.5em;
}
ol {
  padding-left: 3em;
  margin: 0;
}
#join-button {
  display: block;
  line-height: 4em;
  text-align: center;
  vertical-align: middle;
  float: none;
}
@media only screen and (max-device-width: 480px) {
  .therules {
    font-size: 120%;
    margin: 0.5em;
  }
}
</style>
{% endblock %}
{% block content %}
<div class="area-main">
  <div class="therules">
    <strong>The rules are simple.</strong>
    <ol>
    <li>Take a three word phrase.</li>
    <li>Upload a photo you think fits the phrase.</li>
    <li>Vote on who wins.</li>
    </ol>
  </div>
</div>
<div class="area-sidebar-short">
   <a id="join-button" class="positive button" href="{% url hunt-index %}">Join a hunt now!</a>
</div>
{% endblock %}
