{% extends "base_title.html" %}
{% load indicator %}
{% load webapp_extras %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ballot.css"/>
{% endblock %}
{% block extra_links %}
<link rel="alternate" type="application/json" href="{% url api-hunt hunt.slug %}"/>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ballot.js"></script>
{% endblock %}

{# Header stuff #}
{% block title-thumb-src %}{% hunt_thumbnail hunt %}{% endblock %}
{% block title-line1 %}<span class="phrase">{{ hunt.phrase }}</span>{% endblock %}
{% block title-line2 %}{% hunt_status hunt %}{% endblock %}

{% block page-content %}
{% comment %}
 A hunt can be in four states: FUTURE, CURRENT, VOTING, FINISHED
 By default, all items that match $(".hunt-state-obj") will be hidden

 Once we download the JSON and determine that which state we are in,
 we'll show all items that match $(".hunt-state-(statename)").
{% endcomment %}
<div class="span-9 colborder">
  <div class="hunt-state-obj hunt-state-FUTURE">
    This hunt hasn't started yet. Check back later!
    <hr/>
  </div>
  <div class="hunt-state-obj hunt-state-FINISHED">
    <p>This hunt has ended.</p>
    <p><a href="{% url photo-index hunt.slug %}">See all submissions</a></p>
    <hr/>
  </div>
  <div class="vote-box hunt-state-obj hunt-state-CURRENT hunt-state-VOTING">
    <button id="vote-button" type="submit" class="vote-button button positive">
      <img src="{{ MEDIA_URL }}css/blueprint/buttons/icons/photos.png" alt=""/>
      Click here to start voting!
    </button>
    <hr/>
  </div>
  <div class="submit-box hunt-state-obj hunt-state-CURRENT">
    <h3>Submit a photo</h3>
    {% if submit_form.is_multipart %}
    <form id="upload" method="POST" action="{% url api-photo-index hunt.slug %}" enctype="multipart/form-data">
    {% else %}
    <form id="upload" method="POST" action="{% url api-photo-index hunt.slug %}">
    {% endif %}
    <table cellspacing="0">
       <tr>
         <td>{{ submit_form.photo.label_tag }}</td>
         <td>{{ submit_form.photo }}</td>
       </tr>
       <tr>
         <td></td>
         <td class="hint">By clicking 'Submit', you agree to <a href="/help/tos/">follow the rules</a>.</td>
       </tr>
       <tr>
         <td></td>
         <td>
           {% csrf_token %}
           <input type="hidden" name="response_content_type" value="text/plain"/>
           <input type="hidden" name="via" value="Web"/>
           <input type="submit" value="Submit"/>
           {% indicator "submitting..." %}
         </td>
    </table>
    </form>
    <hr/>
  </div>
  <div>
    {% url api-hunt-comment-index hunt.slug as comments_url %}
    {% url hunt-comments hunt.slug as show_all_url %}
    {% include "includes/comments.html" %}
  </div>
</div>
<div class="span-5 last">
    <div class="hunt-state-obj hunt-state-CURRENT hunt-state-VOTING hunt-state-FINISHED">
      {% with hunt.submission_set.all|length as count %}
        <div id="num-submissions" class="num-submissions counter center-text">{{ count }}</div>
        <div class="center-text hint-color">submission{{ count|pluralize }}</div>
      {% endwith %}
      <hr/>
    </div>
    <div class="hunt-state-obj hunt-state-CURRENT hunt-state-VOTING">
     {% url api-photo-index hunt.slug as submissions_url %}
     {% url photo-index hunt.slug as show_all_url %}
     {% with "Recent Submissions" as submissions_title %}
         {% include "includes/submissions.html" %}
     {% endwith %}
     </div>
    <div class="hunt-state-obj hunt-state-FINISHED">
     {% include "includes/award_submission_list.html" %}
     </div>
</div>
<div id="vote-dialog" style="display: none;">
  <div class="head"><span class="phrase">{{ hunt.phrase }}</span><br/>Click on the photo you think better fits the phrase.</div>
  <div id="ballot">
    <div class="ballot-img-container">
       <div class="ballot-left"><img src=""/><div class="ballot-overlay"></div></div>
       <div class="ballot-right"><img src=""/><div class="ballot-overlay"></div></div>
    </div>
    <div class="loading" style="display: none;">Loading...</div>
  </div>
  <div>
      <button id="vote-dialog-close" type="submit" class="button">
      Close
    </button>
  </div>
</div>
<script type="text/javascript">
var huntURL = null;
var huntObj = null;

$(function() {
  huntURL = $("link[type='application/json']").attr("href");
  $.getJSON(huntURL, function(data) {
    huntObj = data;
    var state = huntState(huntObj);
    $(".hunt-state-"+state).show();

    // Only show the submissions (or bother retrieving them) if we need to.
    if (state == "CURRENT" || state == "VOTING") {
       $(".submission-list").submissionList({ 'url': huntObj.submissions+"?limit=5" });
    }
  });

  $(".comment-list").commentList({ url: "{{ comments_url }}?limit=10",
      form: '.comment-form',
      defaultImage: '{{ MEDIA_URL }}img/default_user.png'
  });

  var form = $("#upload");
  form.submit(function() {
    var indicator = $(".indicator", form);
    indicator.show();

    {# Using JSONP gets around a stupid problem involving ajaxSubmit() and JSONView. #}
    {# Eventually, when we have the stream API, we won't care about this #}
    form.ajaxSubmit({ dataType: 'json',
      success: function(data, status, xhr) {
        // Increment the number of submissions
        var num = $("#num-submissions");
        num.text(parseInt(num.text())+1);
        // Add to the recent submissions list
        $(".submission-list").submissionList({ 'add': data });
      },
      error: function(xhr, status, error) {
          // TODO: Error
          alert("ERROR");
      },
      complete: function(xhr, status) {
        indicator.hide();
        form.clearForm();
    }});

    return false;
  });
  $("#vote-dialog").dialog({ modal: true,
    resizable: false,
    autoOpen: false,
    width: 520,
    dialogClass: 'vote-dialog-container',
    open: function(event,ui) {
      $("#ballot").ballot({ url: huntObj.ballot });
    }
  });
  $("#vote-button").click(function() {
    $("#vote-dialog").dialog("open");
  });
  $("#vote-dialog-close").click(function() {
      $("#vote-dialog").dialog("close");
  });
})
</script>
{% endblock %}
