{% extends "base.html" %}
{% block head %}
<link rel="alternate" type="application/json" href="{% url api-hunt hunt.slug %}"/>
{% endblock %}
{% block content %}
<h2>{{ hunt.phrase }}</h2>

<p>Starts: {{ hunt.start_time }}</p>
<p>Ends: {{ hunt.end_time }}</p>

<p><input id="vote_button" type="button" value="Start voting"/></p>
<div class="vote-container" style="position: relative;">
<div style="width: 250px; height: 200px; background-color: blue; position: relative; top: 0; left: 72px;">First photo</div>
<div style="width: 250px; height: 200px; background-color: blue; position: absolute; top: 0; left: 337px;">Second photo</div>
</div>

{% if submit_form.is_multipart %}
<form id="upload" method="POST" action="{% url api-photo-index hunt.slug %}" enctype="multipart/form-data">
{% else %}
<form id="upload" method="POST" action="{% url api-photo-index hunt.slug %}">
{% endif %}
<h3>Submit photo</h3>
{{ submit_form.as_p }}
{% csrf_token %}
<input type="submit" value="Submit"/>
</form>
{% endblock %}
