{% extends "base_title.html" %}
{% load indicator %}
{% load webapp_extras %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blueprint/buttons/screen.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ballot.css"/>
{% endblock %}
{% block extra_links %}
<link rel="alternate" type="application/json" href="{% url api-user profile_user.username %}"/>
{% endblock %}

{# Header stuff #}
{% block title-thumb-src %}{% user_thumbnail profile_user %}{% endblock %}
{% block title-line1 %}{% user_display_name profile_user user %}{% endblock %}
{% block title-line2 %}Joined the hunt {{ profile_user.date_joined|timesince }} ago{% endblock %}

{% block page-content %}
<div class="span-9 colborder">
  <div>
    Basic info!
    <hr/>
  </div>
  <div>
    <h3>Recent activity</h3>
  </div>
</div>
<div class="span-5 last">
    <div>
      Rank/score box
      <hr/>
    </div>
    <div>
     Awards list
     </div>
</div>
<script type="text/javascript">
$(function() {

});
</script>
{% endblock %}
