{% extends "base_title.html" %}
{% load indicator %}
{% load webapp_extras %}
{% block extra_links %}
<link rel="alternate" type="application/json" href="{% url api-user profile_user.username %}"/>
{% endblock %}

{# Header stuff #}
{% block title-thumb-src %}{% user_thumbnail profile_user %}{% endblock %}
{% block title-line1 %}{% user_display_name profile_user user %}{% endblock %}
{% block title-line2 %}Joined the hunt {{ profile_user.date_joined|mytimesince }} ago{% endblock %}

{% block page-content %}
{% with profile_user.get_profile as profile %}
<div class="span-9 colborder">
  <div>
    Basic info!
    <hr/>
  </div>
  <div>
  {# interpreted as (user == profile_user and user.is_authenticated) or profile.public_activity #}
    {% if user == profile_user and user.is_authenticated or profile.public_activity %}
    <h3>Recent activity</h3>
    {% comment %}
     because user activity may be difficult generate, it's going to be an exception
     to the "template generate first" rule. Fortunately it's not really necessary
     for crawlers
    {% endcomment %}
    <div class="loading">{% indicator "loading" %}<span class="progress-text">Getting activity...</span></div>
    <ul class="user-activity-list">
    </ul>
    {% endif %}
  </div>
</div>
<div class="span-5 last">
    <!--
    <div>
      Rank/score box
      <hr/>
    </div>
    -->
    <div>
    {% include "includes/award_user_list.html" %}
     </div>
</div>
<script type="text/javascript">
$(function() {
  $(".user-activity-list").activityList({ url: "{% url api-user-activity profile_user.username %}",
      loading: '.loading',
      current_user: '{{ user.username }}',
      profile_user: '{{ profile_user.username }}'
  });
});
</script>
{% endwith %}
{% endblock %}
